* {
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    margin-top: 0px auto ;
    background-color: #194325;
    height: 100px;
    display: flex;
    position: sticky;
    z-index: 1000;
}
.dlogo {
    width: 215px;
}
.logo {
    width: 180px;
    height: 125px;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}

.center {
    width: 800px;
    background-color:#194325;
    margin: 0px auto;
    position: sticky;
    top: 10px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;

}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav .center a {
    display: block;
    text-decoration: none;
    color: antiquewhite;
    font-family:monospace;
    margin-top: 10px
}
.sous {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: #102917;
    border-radius: 10px;
    margin: 0px;
}
.sous li {
    float: none;
    width: 100%;
    text-align: left;
    padding: 0px;
}
.sous a {
    padding: 10px;
}
nav ul li a {
    font-size: 1.5em;
    padding: 30px 0px;
    font-weight: bold;
}
.dero:hover .sous {
    display: block;
}
nav p {
    font-size: 12px;
}
.dero>a::after {
    content: " ▼";
    font-size: 15px;
}

.body{
    background:linear-gradient(200deg,#e0e4da,#02300f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 1000vh;
    height:900px;
    text-align: center;
    padding-top: 40px;
}
main{
    
    background-position: center;
    margin: 0 auto;
    height: 100vh;
    height:900px;
    text-align: center;
}

.contenue{
    display: flex;
    margin:0 auto;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-top: 70px;
    flex-wrap: wrap;
}
main h1{
    
    font-family:serif;
    color:#4a3733;
    font-size: 85px;
text-align: center;
}
.luxe{
    width:500px;
    height:500px;
    
}
.moy{
    height:500px;
    width: 500px;
}
.luxe img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.18);
    transition:width 1s ease,height 1s ease;
}
.moy img{
    width:400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.18);
    transition:width 1s ease,height 1s ease;
}
input{
    width:300px;
    height:50px;
    background-color: #827d76;
    border-radius: 5px;
    border: none;
    color:antiquewhite;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    box-shadow:0 8px 32px 0 rgba(0 ,0,0,0.37) ;
    position:relative;
    z-index: 1;
    margin-top: 15px;
    border: 5px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition:width 1s ease,height 1s ease;

}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:antiquewhite;
    font-weight: bold;
    font-size: 20px;
}
.luxe img:hover{
    width:460px;
    height: 360px;
}
.moy img:hover{
    width:460px;
    height: 360px;
}
input:hover{
    width:340px;
    height:50px;

}
.end{
    color: black;
  text-align: center;
}